{% load calendar markup %}

<h1>Calendrier pour {{ date|date:"F Y" }}</h1>

{% if managed %}
<nav class="calendar-nav">
	<ul>
		{% with month.prev_period.start as prev %}
			<li><a href="{% calendar_month_url request.path prev.year prev.month %}">&larr; {{ prev|date:"F Y"|capfirst }}</a></li>
		{% endwith %}
		{% with month.next_period.start as next %}
			<li><a href="{% calendar_month_url request.path next.year next.month %}">{{ next|date:"F Y"|capfirst }} &rarr;</a></li>
		{% endwith %}
	</ul>
</nav>
{% endif %}

<table class="calendar">
	{% if weekday_names %}
	<thead>
		<tr>
			{% for day_name in weekday_names %}<th>{{ day_name|capfirst }}</th>{% endfor %}
		</tr>
	</thead>
	{% endif %}

	<tbody>
		{% for week in month.weeks %}
		<tr>
			{% for day in week.days %}
				{% ifnotequal day.start.month month.start.month %}
					<td class="empty"><span>{{day.start.day}}</span></td>
				{% else %}
					{% if day.has_events %}
						<td class="busy">
					{% else %}
						<td class="free">
					{% endif %}
						<span>{{day.start.day}}</span>
						{% if day.has_events %}
							<ul>
							{% for o in day.events %}
								{% ifequal forloop.counter 3 %}
									{% if not forloop.last  %}
										<li class="more">…</li>
									{% endif %}
								{% endifequal %}
								{% spaceless %}<li class="calendar-{{ o.event.calendar.pk }}">
									<a href="#">
										{% if o.event.isallday %}
											<!--<span>(All day) – </span>-->
										{% elif o.starts %}
											<span>{{ o.event.start|time:"G:i" }} – </span>
										{% elif o.contained %}
											<span>{{ o.event.start|time:"G:i" }} – </span>
										{% elif o.ends %}
											<span>{{ o.event.end|time:"G:i" }} (ends) – </span>
										{% endif %}
										{{ o.event.title }}
									</a>
								</li>{% endspaceless %}
							{% endfor %}
							</ul>
						{% endif %}
					</td>
				{% endifnotequal %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if managed %}
<nav class="calendar-nav">
	<ul>
		{% with month.prev_period.start as prev %}
			<li><a href="{% calendar_month_url request.path prev.year prev.month %}">&larr; {{ prev|date:"F Y"|capfirst }}</a></li>
		{% endwith %}
		{% with month.next_period.start as next %}
			<li><a href="{% calendar_month_url request.path next.year next.month %}">{{ next|date:"F Y"|capfirst }} &rarr;</a></li>
		{% endwith %}
	</ul>
</nav>
{% endif %}

{% if display_details %}
<ul class="event-details">
{% for o in month.events %}
	<li id="{{ o.event.id }}" class="event {% if o.event.location %}location-available{% endif %} {% if o.event.description %}description-available{% endif %}">
	<h2>{{ o.event.title }}</h2>

		{% if o.event.location %}
		<div class="location-map">
			<a href="{{ o.event.location_map_url }}">
				<img src="{{ o.event.location_map_image_url }}"/>
			</a>
		</div>
		{% endif %}

		<dl>
			<dt>Date</dt>
			<dd>{{ o.event.start|date:"l j"|capfirst }}</dd>
			<dt>Time</dt>
			{% if o.event.isallday %}
				<dd class="time">
					Toute la journée {% if not o.event.issingleday %}<span>jusqu'au</span> {{ o.event.end|date:"l j" }}{% endif %}
				</dd>
			{% else %}
				<dd class="time">
					{{ o.event.start|time:"G\hi" }} <span>jusqu'à</span> {{ o.event.end|time:"G\hi" }}
					{% if not o.event.issingleday %}<span>du</span> {{ o.event.end|date:"l j" }}{% endif %}
				</dd>
			{% endif %}
			{% if o.event.location %}
				<dt>Location</dt>
				<dd>{{ o.event.location_label }}</dd>
				{% endif %}
		</dl>

		{% if o.event.description %}
			<div class="description">{{ o.event.description|markdown }}</div>
		{% endif %}
	</li>
{% endfor %}
</ul>
{% endif %}
